{% extends 'app/main.html'%}
{% load static %}
{% block content %}


<section class="py-7 bg-dark section-angle top-left bottom-left">


    <div class="wrap">
        
          

        <div class="search">
            <form method="get" action="../search" class="search">
                <input type="text" class="searchTerm" placeholder="Search Company" name="query">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    <h2>Sort By</h2>
    
        {% for industry in industries%}
        <li>
        <a href="{% url 'companies' %}?industry={{industry.industry_type}}">{{industry.industry_type}}</a>
    </li>
    {% endfor %}
    {%if companies%}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4">

                {% for i in companies %}

                <div class="card">

                    <div class="card-body">
                        <a href="#" class="card-title mb-2">
                            <h5>{{i.company_name}}</h5>
                        </a>
                        <p class="text-muted small-xl mb-2">Owner: {{i.owner_name}}</p>
                        <p class="card-text" style="color:cyan;">Inudstry Type: {{i.industry_type}}</p>
                        <p class="card-text">{{i.address}}</p>
                    </div>

                </div>

            </div>
            {% endfor %}
        </div>

    </div>
</section>
{%endif%}

<div class="container">

    <div class="row mt-5">

        <div class="col-md-4">
            {% for i in company_list %}
            <div class="card">

                <div class="card-body">
                    <a href="#" class="card-title mb-2">
                        <h5>{{i.company_name}}</h5>
                    </a>
                    <p class="text-muted small-xl mb-2">Owner: {{i.owner_name}}</p>
                    <p class="card-text" style="color:cyan;">Inudstry Type: {{i.industry_type}}</p>
                    <p class="card-text">{{i.address}}</p>
                </div>

            </div>

        </div>
        {% endfor %}
    </div>

</div>
</section>
{% endblock %}