{% extends 'app/main.html'%}
{% load static %}
{% block content %}

<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">TAKE YOUR COMPANY TO THE NEXT LEVEL</h1>
                <p class="lead py-3">Allow us to use our own knowledge and success to fast track your results in your business. Sign up for free.</p>
                <form method="post">
                    <!-- <div class="form-control d-inline-flex flex-row align-items-center"> -->
                    {% csrf_token %}
                    {{ industry_form.industry_type }}
                   
                  <br><br>
                <button class="btn btn-primary d-inline-flex flex-row align-items-center">
                    Get started now
                    <em class="ml-2" data-feather="arrow-right"></em>
                </button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- features section -->
<section class="pt-6 pb-7" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black">Spices offers everything you need.</h2>
                <p class="text-muted lead">It's time for you to join us and make your dream company.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row feature-boxes">
                    <div class="col-md-6 box">
                        <div class="icon-box box-primary">
                            <div class="icon-box-inner">
                                <span data-feather="edit-3" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Create once. Share everywhere.</h5>
                        <p class="text-muted">Join with Us once and we will see the rest</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-success">
                            <div class="icon-box-inner">
                                <span data-feather="monitor" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Unlimited devices</h5>
                        <p class="text-muted">Connect with multiple devices and multiple users.</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-danger">
                            <div class="icon-box-inner">
                                <span data-feather="layout" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Amazing Services</h5>
                        <p class="text-muted">We offer our amazing services to help you reach customers with ease.</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-info">
                            <div class="icon-box-inner">
                                <span data-feather="globe" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Available globally</h5>
                        <p class="text-muted">We are available globally to help you reach more audiences.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-md-6 mr-auto">
                <h2>Spices is more than just a brand builder.</h2>
                <p class="mb-5">It's your company's best friend.</p>
                <a href="/register" class="btn btn-light">
                    Try Now
                </a>
            </div>
            <div class="col-md-5">
                <div class="slick-about">
                    <img src="{% static 'img/blog-1.jpg' %}" class="img-fluid rounded d-block mx-auto" alt="Work 1"/>
                    <img src="{% static 'img/blog-2.jpg' %}" class="img-fluid rounded d-block mx-auto" alt="Work 2"/>
                    <img src="{% static 'img/blog-3.jpg' %}" class="img-fluid rounded d-block mx-auto" alt="Work 3"/>
                </div>
            </div>
        </div>
    </div>
</section>

<!--pricing section-->
<section class="py-7 bg-dark section-angle top-right bottom-right" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="text-white heading-black">Choose your pricing plan.</h2>
                <p class="text-light lead">Simply pricing - 7 Days free trial</p>
            </div>
        </div>
        <!--pricing tables-->
        <div class="row pt-5 pricing-table">
            <div class="col-12 mx-auto">
                <div class="card-deck pricing-table">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">Personal</h3>
                            <h2 class="card-title text-primary mb-0 pt-4">$59</h2>
                            <div class="text-muted font-weight-medium mt-2">per month</div>
                            <ul class="list-unstyled pricing-list">
                                <li>1 user</li>
                                <li>10 devices</li>
                                <li>Access to premium Features</li>
                                <li>Basic support</li>
                            </ul>
                            <a href="#" class="btn btn-primary">
                                Start free trial
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">Agency</h3>
                            <h2 class="card-title text-info mb-0 pt-4">$159</h2>
                            <div class="text-muted font-weight-medium mt-2">per month</div>
                            <ul class="list-unstyled pricing-list">
                                <li>2-15 users</li>
                                <li>50 devices</li>
                                <li>Access to premium features</li>
                                <li>Priority support</li>
                            </ul>
                            <a href="#" class="btn btn-info">
                                Start free trial
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title pt-3">Enterprise</h3>
                            <h2 class="card-title text-primary mb-0 pt-4">$499</h2>
                            <div class="text-muted font-weight-medium mt-2">per month</div>
                            <ul class="list-unstyled pricing-list">
                                <li>Unlimited users</li>
                                <li>Unlimited devices</li>
                                <li>Access to premium features</li>
                                <li>24/7 support</li>
                            </ul>
                            <a href="#" class="btn btn-primary">
                                Start free trial
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-md-4 mr-auto">
                <h3>Everything is covered.</h3>
                <p class="lead">
                    See you On our List Soon
                </p>
            </div>
            <div class="col-md-7 offset-md-1">
                <ul class="features-list">
                    <li>Weekly new templates</li>
                    <li>Access to new features</li>
                    <li>MailChimp integration</li>
                    <li>Stripe integration</li>
                    <li>100 refund guarantee</li>
                    <li>Advance SEO tools</li>
                    <li>Free unlimited support</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-8 col-12 divider top-divider mx-auto pt-5 text-center">
                <h3>Try Spices free for 7 days</h3>
                <p class="mb-4">We offer money back Guarantee.</p>
                <a href="/signup">
                <button class="btn btn-primary">
                    Create your account
                </button>
                </a>
            </div>
        </div>
    </div>
</section>

<!--faq section-->
<section class="py-7" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Frequently asked questions</h2>
                <p class="text-muted lead">Answers to most common questions.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6>Can I try it for free?</h6>
                        <p class="text-muted">We offer a free trial. </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Do you have hidden fees?</h6>
                        <p class="text-muted">We don't do those.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>What are the payment methods you accept?</h6>
                        <p class="text-muted">We support all kinds of globally available payment methods</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How often do you release updates?</h6>
                        <p class="text-muted">We update our services Frequently.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>What is your refund policy?</h6>
                        <p class="text-muted">We offer money back guarantee.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How can I contact you?</h6>
                        <p class="text-muted">Just visit the support section or Sign Up and our team will reach you.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 mx-auto text-center">
                <h5 class="mb-4">Have questions?</h5>
                <a href="#" class="btn btn-primary">Contact us</a>
            </div>
        </div>
    </div>
</section>

<!--news section-->
<section class="py-7 bg-dark section-angle top-left bottom-left" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black">News from Spices.</h2>
                <p class="text-muted lead">What's new at Knight.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-raised" src="{% static 'img/blog-1.jpg' %}" alt="Blog 1">
                    </a>
                    <div class="card-body">
                        <a href="#" class="card-title mb-2"><h5>We launch new iOS & Android mobile apps</h5></a>
                        <p class="text-muted small-xl mb-2">Sep 27, 2018</p>
                    <a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-raised" src="{% static 'img/blog-2.jpg' %}" alt="Blog 2">
                    </a>
                    <div class="card-body">
                        <a href="#" class="card-title mb-2"><h5>New update is available for the editor</h5></a>
                        <p class="text-muted small-xl mb-2">August 16, 2018</p>
                        <p class="card-text"><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-raised" src="{% static 'img/blog-3.jpg' %}" alt="Blog 3">
                    </a>
                    <div class="card-body">
                        <a href="#" class="card-title mb-2"><h5>The story of building #1 page builder</h5></a>
                        <p class="text-muted small-xl mb-2">December 2nd, 2017</p>
                    <a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-md-6 mx-auto text-center">
                <a href="#" class="btn btn-primary">View all posts</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}